SergioWcfWindowsFormdesktop/Connected Services/ServiceCalculadora/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="divicion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N1" type="xs:float" />
        <xs:element minOccurs="0" name="N2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="divicionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="divicionResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N1" type="xs:float" />
        <xs:element minOccurs="0" name="N2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="restaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restaResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N1" type="xs:float" />
        <xs:element minOccurs="0" name="N2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumaResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N1" type="xs:float" />
        <xs:element minOccurs="0" name="N2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="multiplicacionResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="operacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identified" type="xs:int" />
        <xs:element minOccurs="0" name="N1" type="xs:float" />
        <xs:element minOccurs="0" name="N2" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="operacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operacionResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>