SergioWcfWindowsFormdesktop/Connected Services/ServiceCalculadora/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61582/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61582/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_divicion_InputMessage">
    <wsdl:part name="parameters" element="tns:divicion" />
  </wsdl:message>
  <wsdl:message name="IService1_divicion_OutputMessage">
    <wsdl:part name="parameters" element="tns:divicionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_resta_InputMessage">
    <wsdl:part name="parameters" element="tns:resta" />
  </wsdl:message>
  <wsdl:message name="IService1_resta_OutputMessage">
    <wsdl:part name="parameters" element="tns:restaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_suma_InputMessage">
    <wsdl:part name="parameters" element="tns:suma" />
  </wsdl:message>
  <wsdl:message name="IService1_suma_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_multiplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:multiplicacion" />
  </wsdl:message>
  <wsdl:message name="IService1_multiplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:multiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_operacion_InputMessage">
    <wsdl:part name="parameters" element="tns:operacion" />
  </wsdl:message>
  <wsdl:message name="IService1_operacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:operacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="divicion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/divicion" message="tns:IService1_divicion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/divicionResponse" message="tns:IService1_divicion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/resta" message="tns:IService1_resta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/restaResponse" message="tns:IService1_resta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="suma">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/suma" message="tns:IService1_suma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sumaResponse" message="tns:IService1_suma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multiplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/multiplicacion" message="tns:IService1_multiplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/multiplicacionResponse" message="tns:IService1_multiplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="operacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/operacion" message="tns:IService1_operacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/operacionResponse" message="tns:IService1_operacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="divicion">
      <soap:operation soapAction="http://tempuri.org/IService1/divicion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resta">
      <soap:operation soapAction="http://tempuri.org/IService1/resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="suma">
      <soap:operation soapAction="http://tempuri.org/IService1/suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicacion">
      <soap:operation soapAction="http://tempuri.org/IService1/multiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operacion">
      <soap:operation soapAction="http://tempuri.org/IService1/operacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61582/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>